
#first{
    background-color: rgb(255, 0, 0);
    height: 200px;
    width: 200px;
}

#second{
    background-color: rgb(0, 255, 0);
    height: 200px;
    width: 200px;
}

#third{
    background-color: rgb(0, 0, 255);
    height: 200px;
    width: 200px;
}