
.first{
    background-color: #ff0000;
    width: 200px;
    height: 200px;
}

.second{
    background-color: #00ff00;
    width: 200px;
    height: 200px;
}

.third{
    background-color: #0000ff;
    width: 200px;
    height: 200px;
}