
table{
    border-collapse: collapse;
    
    
}

th{
    background-color: rgb(113, 202, 113);
    

}


tr:nth-child(3){
    background-color: gray;
    color:rgb(113, 202, 113) ;
    font-weight: bold;
}

tr{
    background-color: aliceblue;
}