

div{
    background-color: red;
    height: 500px;
    width: 500px;
    animation-name: change;
    animation-delay: 3s;
    animation-iteration-count: 4;
    animation-duration: 5s;
}



@keyframes change {

    0% {background-color: red; }

    33% {background-color: yellow;transform: translateY(50px);}

    66% {background-color: blue; border-radius: 20px;transform: translateX(50px) rotate(40deg);}
    
    100% {background-color: orange; border-radius: 50%; border: 5px solid red;}

}

