.per{
    height: 500px;
    width: 600px;
    background-color: white;
    gap: 20px;
    padding: 20px;
    display: flex;
    border: 5px black solid;
}

div{
    background-color: blue;
    display: flex;
    height: 200px;
    flex: 2 0 150px;
}