
.per{
    display: flex;
    margin: 40px;
    border: 3px blue solid;
    border-radius: 20px ;
    gap: 20px;
    background-color: aqua;
    color: white;

}

img{
    padding: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}


.menu{
    display: flex;
    gap: 25px;
    list-style-type: none;

}
li{
    border: 2px solid blue;
    background-color: blue;
    padding: 10px;
    border-radius: 50px;
}

button{
    height: 40px;
    width: 40px;
    align-self:center ;
    background-color: blue;
    border-radius: 30px;
    color:white ;

}