
.per{
    background-color: white;
    border: 3px black solid;
    height: 300px;
    width: 600px;
    gap: 10px;
    padding: 10px;
}



div{
    height: 150px;
    background-color: red;
    display: flex;
    border: 3px black solid;
}

.fir{
    display: flex;
    flex-basis: 175px;

}

.sec{
    display: flex;
    flex-basis: 160px;
}

.thi{
    flex-basis: 155px;
    display: flex;
}