
.per{
    padding: 5px;
    width: 600px;
    height: 100px;
    background-color: purple;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.ch1{
    width: 170px;
    height: 80px;
    background-color: orange;
    border: 3px black solid;
    border-radius: 10px;
    box-shadow: 4px 3px 4px black;

}




.ch2{
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 10px;
    border: 3px black solid;
    box-shadow: 4px 3px 4px black;

}