
body{
    display: flex;
    gap: 100px;
    padding: 400px;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}



.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
    position: relative;
    left: 30px;
    top: 20px;
}