
button{
    height: 50px;
    width: 100px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}


.fir{
    top: 100px;
    left: 30px;
}

.thi{
    top:30px ;
    right: 20px;
}