

body{
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 300px;
    width: 300px;
    background-color: red;
}


div:hover{
    height: 150px;
    width: 150px;
    position: relative;
    right:100px;
    transform: rotateX(50deg);
}
