


body{
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;

}

div:hover{
    height: 400px;
    width: 400px;
    transform: translate(100px,100px);
}


