

body{
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 300px;
    width: 300px;
    background-color: red;

}

div:hover{
    height: 450px;
    width: 450px;
    transform: translateY(-100px) rotate(10deg);

}


