

body{
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 300px;
    width: 300px;
    background:url(download.jpg) no-repeat center/cover ;

}

div:hover{
    height: 150px;
    width: 150px;
    transform: rotate(180deg) translateX(100px);

}

