

.fir{
    height: 600px;
    width: 600px;
    background: url(download.jpg) no-repeat center/cover ;
}


.sec{
    height: 300px;
    width: 300px;
    background: url(download\ \(1\).jpg) no-repeat center/cover ;

}

