@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}

nav{
    display: flex;
    gap:25px;
    align-items: center;

}

.ham{
    display: none;
}

ul{
    display: flex;
    gap: 20px;

}

ul li{
    list-style-type: none;
}
.headimg{
    width: 110px;
    height: 20px;
}

.headbut{
    border: none;
    background-color: rgb(76, 175, 79);
    width: 133px;
    height: 36px;
    border-radius: 3px;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.sec1{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 10px 0px;
    background-color: rgb(245, 247, 250);
}

.sec1h{
    font-weight: 600;
    font-size: 60px;
}

.gre{
    color: rgb(76, 175, 79);
}

.sec1cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec1p{
    font-weight: 400;
    font-size: 16px;
}

.sec1but{
    height: 40px;
    width: 90px;
    border: none;
    background-color: green;
    color: white;
}

.threedot{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.dot{
    align-self: center;
    width: 35px;
    height: 7px;
    
}

.sec2{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sec2div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px 0px;
}
.sec2h{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.sec2p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}



.sec2img{
    height: 40px;
    width: 40px;
}

.sec3h{
    width: 430px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-align: center;
}

.sec3p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.sec3img{
    width:65px;
    height: 55px;
}



.sec3divs{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 15px;
    border-radius:7px;
}
.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sec3cont{
    padding: 0px 40px;
    display: flex;
    gap: 200px;
    justify-content: center;
    flex-wrap: wrap;
}

.sec3divh1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.sec3divp1{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.sec4{
    display: flex;
    padding: 100px 200px;
    gap: 200px;
    align-items: center;

}

.sec4img{
    width: 500px;
    height: 500px;
}

.sec4div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec4but{
    background-color: rgb(76, 175, 79);
    border: none;
    height: 40px;
    width: 110px;
    color: white;
}
.sec4h{
    font-size: 50px;
    font-weight: 600;
}

.sec4p{
    font-size: 20px;
    font-weight: 400;
}

.sec5{
    background-color: rgb(245, 247, 250);
    display: flex;
    justify-content: space-between;
    padding: 100px ;
    align-items: center;
}

.sec5h1{
    font-size: 45px;
    color: #4D4D4D;
    font-weight: 600;
}


.green{
    color: rgb(76, 175, 79);
}

.sec5div2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 45px;
}

.sec5divcont{
    display: flex;
    gap: 20px;
}

.sec5h2{
    font-size: 25px;
    font-weight: 600;
}



.sec5p2{
    font-size: 16px;
    font-weight: 400;
}

@media (max-width:1542px){
    .sec4h{
        font-size: 40px;
    }
    .sec4p{
        font-size: 16px;
    }
    .sec4{
        padding: 100px 30px;
    }
}

@media (max-width:1300px){
    .sec4{
        gap: 0px;
    }
}

@media (max-width:1200px){
    .sec2div{
        gap: 70px;
    }
    .sec3cont{
        gap: 100px;
    }
}

@media (max-width:1150px){
    .sec5{
        padding: 100px 20px;
    }
    
}
@media (max-width:1000px){
    .sec1h{
        font-size: 35px;
    }

    .sec5{
        flex-direction: column;
        gap: 100px;
        padding: 50px 0px;
    }

    .sec5h1{
        text-align: center;
    }

    .sec5p1{
        text-align: center;
    }
    .threedot{
        padding: 100px 40px;
        justify-content: center;
        gap: 50px;
    }
    .sec1{
        gap: 0px;
    }

    .sec4img{
        width: 400px;
        height: 400px;
    }
    .sec4h{
        font-size: 25px;
    }
}

@media (max-width:900px){
    header{
        padding: 20px 40px;
    }
}

@media (max-width:850px){
    .sec4{
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }
    .sec4div{
        width: 400px;
        align-items: center;
    }
    .sec4h{
        text-align: center;
    }
    .sec4p{
        text-align: center;
    }
}

@media (max-width:750px){
    .sec3cont{
        gap: 40px;
    }
    .sec1h{
        text-align: center;
    }
    .sec1p{
        text-align: center;
    }
    .ham{
        display: block;
    }
    nav{
        display: none;
    }
    .threedot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec1img{
        width: 270px;
        height: 280px;
    }
    .sec1cont{
        align-items: center;
    }
}

@media (max-width:500px){

    .sec5h1{
        font-size: 25px;
    }
    .sec5div2{
        grid-template-columns: auto;
    }

    .sec3h{
        width: 350px;
    }


    .sec4div{
        width: 300px;
    }
    .sec4p{
        font-size: 13px;
    }

    .sec4h{
        font-size: 25px;
    }

    .sec4img{
        width: 300px;
        height: 300px;
    }
}