


#first{
    color: red;
    font-size: 20px;
}


#first1{
    color: blue;
    font-size: 10px;
}




#first2{
    color: black;
    font-size: 15px;
}




#first3{
    color: purple;
    font-size: 17px;
}




#first4{
    color: green;
    font-size: 30px;
}