
.per{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items:center ;
}

