

.pirveli{
    color:red ;
    background-color: blue;
    border: 3px solid brown;
    text-align:left ;
    font-size:40px ;
}



.meore{
    color:green ;
    background-color:yellow ;
    border:2px solid black ;
    text-align: center;
    font-size: 35px;
    
}