
div{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 200px 400px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}