@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

header{
    height: 138px;
    padding: 64px 157px;
}
.header {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 200px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 27.77px;
    color: #1C1B1B;
    font-size: 16px;
    font-weight: 700;
    width: 419px;
}

.headerimg{
    width: 80px;
    height: 25px;

}

.appimg{
    height: 20px;
    width: 21px;
    margin-top: 10px;
}

.appimg1{
    height: 40px;
    width: 40px;
}

.appimgdiv{
    display: flex;
    gap: 8px;
}

.bur{
    display: none;

}

.firsection{
    height: 554px;
    background-color: rgb(240, 239, 235);
}

.firsection{
    display: flex;
    justify-content: space-between;
    padding:0px 200px;
}





.sect1main{
    padding-top: 90px ;
    width: 536px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.sec1p{
    font-size: 24px;
    font-weight: 400;
}
.sec1but{
    height: 36px;
    width: 130px;
    border-radius: 100px;
    background-color: black;
    color: white;
}

.sec1h{
    font-size: 60px;
    font-weight: 700;
}
@media (max-width:1450px){
    header{
        padding:64px 50px;
    }
    .firsection{
        padding-right: 0px;
    }
}


@media (max-width:1300px){
    .firsection{
        padding-left:50px ;
    }
}


@media (max-width:1200px){
    nav{
        gap: 100px;
    }
}

@media (max-width:1050px){
    .sec1h{
        font-size: 30px;
    }
    .sec1p{
        font-size: 16px;
    }
    .facesec1{
        height: 400px;
    }
    .firsection{
        height: 400px;
    }
}

@media (max-width:950px){
    nav{
        gap: 330px;
    }
    .bur{
        display:block ;
        height: 30px;
    }
    ul{
        display: none;
    }
}

@media (max-width:800px){
    .firsection{
        display: flex;
        flex-direction: column;
        height: 720px;
        padding-left: 0px;
    }
    .sect1main{
        width: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
}
@media (max-width:700px){
    nav{
        gap: 150px;
    }
    .sect1main{
        padding:50px 50px;
        align-items: center;
        width: 500px;
    }
}

@media (max-width:600px){
    nav{
        gap: 70px;
    }
}

@media (max-width:500px){
    .sect1main{
        width: 400px;
    }
}

@media (max-width:440px){
    header{
        padding: 64px 20px;
    }
    
}

@media (max-width:400px){
    .sect1main{
        width: 370px;
    }
}