@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');




label{
    color: rgb(0, 81, 255);
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    font-style: italic;
}
