@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



body{
    background-color: rgb(143, 205, 236);
}


input{
    border-radius: 50px;
    width: 300px;
    outline: none;
    border: 0px solid white;
    
}

label{
    color: white;
    font-family: "DM Sans", sans-serif;
}